<a href='https://www.darshan.ac.in/'> <img src='https://www.darshan.ac.in/Content/media/DU_Logo.svg' width="250" height="10"/></a>
<pre>
<center><b><h1>Python Programming - 2301CS404</b></center>
<center><b><h1>Name: Gohil Priyanshiba : Enroll:23010101090 : RollNo:174 </b></center>    
<pre>

### 01) WAP to print “Hello World”

In [2]:
print('hello world')

hello world

### 02) WAP to print addition of two numbers with and without using input().

In [4]:
a=10
b=20
print(a+b)

30

### 03) WAP to check the type of the variable.

In [6]:
a=10
type(a)

int

### 04) WAP to calculate simple interest.

In [8]:
p=10
r=20
t=15
(p*r*t)/100

30.0

### 05) WAP to calculate area and perimeter of a circle.

In [12]:
pi=3.14
r=20
print('area of circle')
pi*r*r

area of circle

1256.0

### 06) WAP to calculate area of a triangle.

In [16]:
base=10
height=30
print('area of triangle')
1/2*base*height

area of triangle

150.0

### 07) WAP to compute quotient and remainder.

In [24]:
dividend=20
divisor=5
quotient=dividend/divisor
reminder=dividend%divisor
print(quotient)
print(reminder)

4.0
0

### 08) WAP to convert degree into Fahrenheit and vice versa.

In [26]:
degree=50
feranheit=(degree*(9/5))+32
print(feranheit)

122.0

### 09) WAP to find the distance between two points in 2-D space.

In [52]:
import math
x1=20
x2=40
y1=30
y2=50
d=math.sqrt((x2-x1)^2+(y2-y1)^2)
print(d)

0.0

### 10) WAP to print sum of n natural numbers.

In [1]:
n=int(input("Enter a value of n :"))
print('sum of n no is :',((n*(n+1))/2))

Enter a value of n : 5

sum of n no is : 15.0

### 11) WAP to print sum of square of n natural numbers.

In [3]:
n=int(input("Enter a value of n :"))
print('sum of square of n no is :',((n*(n+1)*(2*n+1))/6))

Enter a value of n : 3

sum of square of n no is : 14.0

### 12) WAP to concate the first and last name of the student.

In [72]:
first_name = input("enter first name: ")
last_name = input("enter last name: ")
full_name = first_name + " " + last_name
print('full name',full_name)

enter first name:  piyu
enter last name:  piyu

full name piyu piyu

### 13) WAP to swap two numbers.

In [5]:
a=int(input("Enter a value of a :"))
b=int(input("Enter a value of b :"))
a=a+b
b=a-b
a=a-b
print('swap no',a,b)

Enter a value of a : 2
Enter a value of b : 3

swap no 3 2

### 14) WAP to get the distance from user into kilometer, and convert it into meter, feet, inches and centimeter.

In [7]:
d=float(input("Enter a value of d in KM :"))
print('distance in meter is :',(d*1000))
print('distance in feet is :',(d*3281))
print('distance in inch is :',(d*39370))
print('distance in centimeter is :',(d*100000))

Enter a value of d in KM : 3

distance in meter is : 3000.0
distance in feet is : 9843.0
distance in inch is : 118110.0
distance in centimeter is : 300000.0

### 15) WAP to get day, month and year from the user and print the date in the given format: 23-11-2024.

In [9]:
day=int(input("Enter a day"))
month=int(input("Enter a month"))
year=int(input("Enter a year"))
print('date is',day,month,year,sep="-")

Enter a day 5
Enter a month 6
Enter a year 6

date is-5-6-6